# Titanic Survival Classifier

## Preparation

In [1]:
import numpy as np
import pandas as pd

Load up the provided training dataset and index by the provided passenger ID.

In [2]:
training_set = pd.read_csv('./data/train.csv').set_index('PassengerId')

Take a quick peek and make sure everything is as expected.

In [3]:
training_set.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
training_set.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Proceed as before and further split the tagged training dataset into training and testing subsets. Unlike Orange, `scikit-learn` requires some manual data preprocessing. First, in order to deal with categorical data like `Sex`, dummy variables are introduced. Additionally, `np.ravel` is invoked to transform `y` into the one dimensional array expected by the model's `score` method.

In [5]:
from sklearn.model_selection import train_test_split

X = pd.get_dummies(training_set[['Pclass', 'Sex', 'Age', 'Fare']])
y = training_set[['Survived']]

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

y_train = np.ravel(y_train)
y_test = np.ravel(y_test)

## Random Forest Classifier Revisited

Now, load up the random forest classifier that was created and pickled in the Orange visual environment.

In [6]:
import pickle

with open('titanic-randomforest.pkcls', 'rb') as f:
    trained_random_forest = pickle.load(f)

Inspect the domain to ensure alignment in the ordering of features.

In [7]:
trained_random_forest.domain

[Pclass, Sex=female, Sex=male, Age, Fare | Survived] {PassengerId, Name}

 As scikit-learn is [more flexible and less lenient](https://scikit-learn.org/stable/modules/impute.html), there is a need to handle imputing any missing values before proceeding.

In [8]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
X_test_imputed = imputer.fit_transform(X_test[['Pclass', 'Sex_female', 'Sex_male', 'Age', 'Fare']])

### Result

In [9]:
'Accuracy: {:f}%'.format(trained_random_forest.skl_model.score(X_test_imputed, y_test) * 100)

'Accuracy: 90.582960%'

## Automated Tuning

This initial model was hand-tuned with a guess-and-check approach. Can it be between with fancier tuning? [TPOT](https://epistasislab.github.io/tpot/) optimizes learning pipelines using genetic programming.

In [10]:
from tpot import TPOTClassifier

tpot = TPOTClassifier(generations=50, population_size=100, cv=10, n_jobs=-1, memory='auto', verbosity=2)
tpot.fit(X_train, y_train)
tpot.export('tpot_titanic_pipeline.py')

Imputing missing values in feature set

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=5100, style=ProgressStyle(descrip…

Generation 1 - Current best internal CV score: 0.8322352143028174
Generation 2 - Current best internal CV score: 0.8324573655785246
Generation 3 - Current best internal CV score: 0.8337723148961077
Generation 4 - Current best internal CV score: 0.8338614414558224
Generation 5 - Current best internal CV score: 0.8412562854178306
Generation 6 - Current best internal CV score: 0.841504376513156
Generation 7 - Current best internal CV score: 0.841504376513156
Generation 8 - Current best internal CV score: 0.8443783755021682
Generation 9 - Current best internal CV score: 0.8443783755021682
Generation 10 - Current best internal CV score: 0.8443783755021682
Generation 11 - Current best internal CV score: 0.8443783755021682
Generation 12 - Current best internal CV score: 0.8458037353340251
Generation 13 - Current best internal CV score: 0.8458037353340251
Generation 14 - Current best internal CV score: 0.8458037353340251
Generation 15 - Current best internal CV score: 0.8458263495357438
Generation 16 - Current best internal CV score: 0.8473847340835927
Generation 17 - Current best internal CV score: 0.8473847340835927
Generation 18 - Current best internal CV score: 0.8473847340835927
Generation 19 - Current best internal CV score: 0.8473847340835927
Generation 20 - Current best internal CV score: 0.8473847340835927
Generation 21 - Current best internal CV score: 0.8474519115651689
Generation 22 - Current best internal CV score: 0.8474519115651689
Generation 23 - Current best internal CV score: 0.8488786016441855
Generation 24 - Current best internal CV score: 0.8503711389576184
Generation 25 - Current best internal CV score: 0.8503711389576184
Generation 26 - Current best internal CV score: 0.8503711389576184
Generation 27 - Current best internal CV score: 0.8503711389576184
Generation 28 - Current best internal CV score: 0.8578571048500813
Generation 29 - Current best internal CV score: 0.8578571048500813
Generation 30 - Current best internal CV score: 0.8578571048500813
Generation 31 - Current best internal CV score: 0.8578571048500813
Generation 32 - Current best internal CV score: 0.8578571048500813
Generation 33 - Current best internal CV score: 0.8578571048500813
Generation 34 - Current best internal CV score: 0.8578571048500813
Generation 35 - Current best internal CV score: 0.8578571048500813
Generation 36 - Current best internal CV score: 0.8578571048500813
Generation 37 - Current best internal CV score: 0.8578571048500813
Generation 38 - Current best internal CV score: 0.8578571048500813
Generation 39 - Current best internal CV score: 0.8578571048500813
Generation 40 - Current best internal CV score: 0.8578571048500813
Generation 41 - Current best internal CV score: 0.8578571048500813
Generation 42 - Current best internal CV score: 0.8578571048500813
Generation 43 - Current best internal CV score: 0.8578571048500813
Generation 44 - Current best internal CV score: 0.8578571048500813
Generation 45 - Current best internal CV score: 0.8578571048500813
Generation 46 - Current best internal CV score: 0.8578571048500813
Generation 47 - Current best internal CV score: 0.8578571048500813
Generation 48 - Current best internal CV score: 0.8578571048500813
Generation 49 - Current best internal CV score: 0.8578571048500813
Generation 50 - Current best internal CV score: 0.8578571048500813

Best pipeline: ExtraTreesClassifier(SelectFwe(LogisticRegression(OneHotEncoder(PolynomialFeatures(input_matrix, degree=2, include_bias=False, interaction_only=False), minimum_fraction=0.15, sparse=False, threshold=10), C=10.0, dual=False, penalty=l2), alpha=0.038), bootstrap=False, criterion=entropy, max_features=0.3, min_samples_leaf=2, min_samples_split=8, n_estimators=100)

### Result

In [11]:
'Accuracy: {:f}%'.format(tpot.score(X_test, y_test) * 100)

Imputing missing values in feature set

/home/bishop/miniconda3/envs/titanic/lib/python3.7/site-packages/sklearn/feature_selection/univariate_selection.py:721: RuntimeWarning: invalid value encountered in less
  return (self.pvalues_ < self.alpha / len(self.pvalues_))

'Accuracy: 81.165919%'

## Prediction

With trained models in hand, load up the test dataset, massage the data as needed, add predictions, and export to CSV.

In [12]:
test_set = pd.read_csv('./data/test.csv').set_index('PassengerId')
test_set_dummies = pd.get_dummies(test_set[['Pclass', 'Sex', 'Age', 'Fare']])

# Hand-tuned
test_set_imputed = imputer.fit_transform(test_set_dummies[['Pclass', 'Sex_female', 'Sex_male', 'Age', 'Fare']])
test_set['Survived'] = trained_random_forest.skl_model.predict(test_set_imputed)
test_set['Survived'] = test_set['Survived'].astype(int)
test_set[['Survived']].to_csv('final-random-forest.csv')

# TPOT optimized
test_set['Survived'] = tpot.predict(test_set_dummies)
test_set['Survived'] = test_set['Survived'].astype(int)
test_set[['Survived']].to_csv('final-tpot.csv')

Imputing missing values in feature set

/home/bishop/miniconda3/envs/titanic/lib/python3.7/site-packages/sklearn/feature_selection/univariate_selection.py:721: RuntimeWarning: invalid value encountered in less
  return (self.pvalues_ < self.alpha / len(self.pvalues_))